* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

.div-menu{
  display: flex;
  justify-content: space-between;
  /* background-color: #FFF1D9; */
  padding: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  box-shadow: 0px 0px 1rem 0px rgb(136, 136, 136);
  z-index: 1;
}

.menu{
  display: flex;
  list-style: none;
  align-items: center;
}

.unidade{
  margin-right: 1.4rem;

}

.unidade a{
  color: #565656;
  text-decoration: none
}

.unidade a:hover{
  color: #EDB836;
  transition: .3s;
}

.logo img{
  width: 10%;
  margin-left: 0;
}
